:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin: 0;
  position: relative;
}

/* Header*/
.header {
  width: 100vw;
}
.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.header__wrapper {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.logo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logo__title {
  font-weight: 400;
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 0.12rem;
  line-height: 35px;
  text-align: left;
}
.logo__subtitle {
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  color: #292929;
  font-size: 13px;
  font-family: Arial;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.logo__burger-menu{
  margin-right: 43px;
    display: none;
    width: 30px;
    cursor: pointer;
    z-index: 999;
    transition-duration: .25s;
}
.logo__burger-menu span{
  height: 2px;
  background-color: #f1cdb3;
}
.menu {
  width: 443px;
  display: flex;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list__item {
  display: flex;
  align-items: center;
}
.list__link {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  color: #545454;
}
.list__link_active {
  color: #292929;
  border-bottom: solid 3px #f1cdb3;
}

.list__link:hover {
  color: #292929;
  border-bottom: solid 3px #f1cdb3;
}



/* Pets*/
.pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}
.pets__wrapper {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pets__title {
  max-width: 400px;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0, 06em;
  text-align: center;
}

.pets__title-item {
  display: block;
  letter-spacing: 0.13rem;
}

.pets__content {
  display: flex;
  justify-content: space-around;
}
.pets__cards {
  display: flex;
  padding: 60px 2px 28px;
}
.pets__cards-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 18px;
}
.pets__cards-image {
  height: 270px;
  width: 270px;
}
.pets__cards-image:hover {
}
.pets__cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.pets__cards-title {
  margin: 30px 0;
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
}
.pets__cards-button {
  cursor: pointer;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-size: 17px;
  width: 187px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  background: none;
  padding: 17px 41px;
  line-height: 100%;
}
.pets__cards-button:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}
.pets__button {
  cursor: pointer;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-size: 17px;
  width: 262px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
  padding: 19px 0;
  line-height: 57%;
}
/*
.pets__button:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
*/

.pets__content1 {
  margin-bottom: 59px;
  display: flex;
  justify-content: space-around;
}
.pets__cards1 {
  display: flex;
  padding: 0px 2px;
}
.pets__cards-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 18px;
}

.pets__cards-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__cards-image {
  height: 270px;
  width: 270px;
}

.pets__cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.pets__cards-title {
  margin: 30px 0;
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
}
.pets__cards-button {
  cursor: pointer;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-size: 17px;
  width: 187px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  background: none;
  padding: 17px 41px;
  line-height: 100%;
}
.pets__cards-button:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.button__wraper {
  display: flex;
  justify-content: space-between;
}

.slider__button {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;

  margin: 0px 10px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: none;
  border: 3px solid #cdcdcd;
  padding: 19px;
  border-radius: 100%;
}

.slider__button-reverted {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;

  margin: 0px 10px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: none;
  border: 3px solid #f1cdb3;
  padding: 19px;
  border-radius: 100%;
}
.slider__button-reverted:hover {
  border: 3px solid #fddcc4;
  background-color: #fddcc4;
}

.pets__button {
  margin: 0px 10px 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #f1cdb3;
  border: 3px solid #f1cdb3;
  padding: 19px;
  border-radius: 100%;
}
/*
.pets__button:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}
*/


/* footer*/

.footer {
  display: flex;
  justify-content: space-around;
  background: url(../../assets/fonts/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.footer__wrapper {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 48px 39px 0 39px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  width: 299px;
}
.footer__item1 {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 2px;
  margin-right: 22px;
  width: 299px;
}

.footer__item-title {
  color: #ffffff;
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 40px;
    line-height: 1.3;
}

.footer__item-email {
  margin-bottom: 36px;
  display: flex;
}
.footer__item-email1 {
  margin-bottom: 36px;
  display: flex;
}
.footer__description-2-item2 {
  padding-right: 22px;
  color: #f1cdb3;
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
  text-align: left;
}

.footer__description-2-item4 {
  padding-top: 10px;
  padding-right: 22px;
  color: #f1cdb3;
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
  text-align: left;
}

.footer__description-2-item5 {
  padding-right: 22px;
  color: #f1cdb3;
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
  text-align: left;
}

.footer__description-2-item3 {
  padding-top: 3px;
  color: #f1cdb3;
  text-decoration: none;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07rem;
  text-align: left;
}
.footer__description-2-item1 {
  color: #f1cdb3;
}

.footer__item-title1 {
  color: #ffffff;
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  margin-bottom: 29px;
    font-size: 2.33333rem;
    letter-spacing: 0.06rem;
    line-height: 1.3;
}
.footer__image-wrapper {
  display: flex;
}
.footer__image {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper{
    padding: 0 30px;
  }
  .pets{
    padding-bottom: 76px;
  }
  .pets__content {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 29px;
    -webkit-column-gap: 40px;
    column-gap: 6px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pets__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
  -webkit-column-gap: 40px;
  column-gap: 0px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 39px;
}
.pets__cards1:nth-child(3), .pets__cards1:nth-child(4) {
  display: none;}
.pets__cards{
  padding: 0;
}
/*footer*/
.footer{
  padding: 0 31px;
}
.footer__wrapper{
  flex-wrap: wrap;
  padding: 22px 32px 0 33px;
  height: 638px;
}
.footer__image-wrapper{
  margin: 25px 0 0 170px;
}
.footer__item1{
  margin-right: 4px;
  padding-top: 1px;
}
.footer__item-title1{
  color: #ffffff;
    font-family: Georgia;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    margin-bottom: 29px;
    margin-top: 8px;
    font-size: 2.23rem;
    letter-spacing: 0.1rem;
    line-height: 1.3
}
}


@media screen and (max-width: 700px) {
  .wrapper{
    padding: 0 10px;
  }
.menu{
  display: none;
}
.logo__burger-menu{
  margin-right: 43px;
  margin-top: 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  flex-direction: column;
  row-gap: 8px;
}
.logo__burger-menu span{
  height: 2px;
  background-color: #b89277;
}


.pets{
  padding-top: 42px;
  padding-bottom: 42px;
}
.pets__title{
  width: 326px;
  font-size: 1.5rem;
    line-height: 1.3;
}
.pets__content{
  margin-top: 45px;
}
.pets__cards:nth-child(4),.pets__cards1:nth-child(1),.pets__cards1:nth-child(2){
  display: none;
}
.pets__content1{
  margin-bottom: 11px;
}
.button__wraper{
  padding-right: 32px;
}
.slider__button{
  margin: 0px -18px 0 28px;
}
.pets__button{
  margin:0px -9px 0 27px;
}
.slider__button-reverted{
  margin: 0px 0px 0 11px;

}
/*footer*/
.footer{
  padding: 0 31px 170px 31px;
  }
  .footer__wrapper{
    padding: 0;
      row-gap: 35px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      flex-wrap: nowrap;
  }
  .footer__item-title{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 26px;
    margin-top: 22px;
  }
  .footer__image-wrapper{
    margin: -25px 0 0 0;
    max-width: 260px;
  }
  .footer__image{
    max-width: 260px;
  }
  .footer__item-email{
    padding: 14px 1px 1px 23px;
  }
  .footer__item-email:nth-child(3){
    padding: 0px 1px 0px 29px;
  }
  .footer__item-title1{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.3;
    text-align: center;
    margin: 15px 0 17px 17px;
    width: 270px;
  }
  .footer__item1{
    margin-top: -51px;
  }
  .footer__item-email1{
    margin: 20px 0 26px;
  }
  .footer__item-email1:nth-child(3){
    margin: 17px 0 26px;
  }




}